.cardsContainer {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-width: 300px;
    background-color: var(--card-color);
    border-radius: 12px;
    padding: 10px;
}