    
@media (width >= 1000px){
    .card {max-width: 300px;}

    .card_user{
        max-width: 1000px;
        flex-grow: 1;
    }
}

@media (width <= 1000px) {}

.card_user input{max-width: 80px}

.cardsContainer {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    justify-content: center;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 300px;

}
