:root {
	--background-color: #232046;
	--text-color: #f1efff;
	--button-color: #B3A9FF;
	--button-border-color: #8e80ff;
	--card-color: #17172F;
	--transperent: rgba(255, 255, 255, 0.5);
}

/*
--bg-input: #545454;
  --bg-button: #B3A9FF;
*/