*{
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

img{width: 512px;}

body{
	background-image: url('../lib/back.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 800px) {img{width: 256px}}