*{
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	transition: 300ms;
	box-sizing: border-box;
}

body{
	background-color: var(--background-color);
	z-index: -10;
}

#nav-mobile{display: none}

body>main{
	width: calc(100% - 300px);
	background: url('../lib/back.png'), linear-gradient(135deg, #2D265C, #0F1021);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100vh;
	border-radius: 24px 0 0 24px;
	box-shadow: -4px 0px 20px 10px rgba(0, 0, 0, 0.4);
	z-index: 100;
	margin-left: auto;
	padding: 40px 0 0 20px
}


h1, h2, h3, h4, h5, h6, p, a, button{color: var(--text-color);}
h1{font-size: 64px}
h2{font-size: 48px}
h3{font-size: 32px}
h4{font-size: 26px}
h5{font-size: 24px}
h5{font-size: 20px}

hr{
	margin: 10px 0;
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.5);
}

a{
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	border-radius: 12px;
}

button, .button{
	box-sizing: border-box;
	border-radius: 12px;
	padding: 10px;
	background-color: var(--button-color);
	border: none;

}

button:hover, .button:hover{
	transform: scale(1.03);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

button:active, .button:active{
	transform: scale(0.97);
	box-shadow: none;
}


.icon{
	font-size: 1.2em;
	margin: 0 10px;
}