:root {

}

.gradient-text{
	background: var(--gradient-purple);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.accent-text{color: var(--purple-accent);}

.accent-icon{color: var(--purple-accent);}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.busy-pc{margin: 10px 0}

.column {
	display: flex;
	flex-direction: column;
}

.center{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.between{
	display: flex;
	justify-content: space-between;
}

.small{font-size: 1rem;}
.smaller{font-size: smaller;}

.width-max{width: 100%}
